# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local
!.env.example

# Build output
dist/
build/
.next/
out/
.turbo/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output/
playwright-report/
test-results/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# Docker volumes locais
infra/data/

# Secrets e chaves
*.pem
*.key
secrets/
